{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <h3 class="mt-5 mb-5">Update Category</h3>

            {{ form(form) }}

        </div>
    </div>

{% endblock %}